In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math as m 
from statsmodels.formula.api import ols

from read_dataframe import generate_df

In [3]:
df = generate_df()
df

,country_or_area,commodity_transaction,year,unit,quantity,quantity_footnotes,category
0,Austria,Additives and Oxygenates - Exports,1996,"Metric tons, thousand",5.0,NaN,additives_and_oxygenates
1,Austria,Additives and Oxygenates - Exports,1995,"Metric tons, thousand",17.0,NaN,additives_and_oxygenates
2,Belgium,Additives and Oxygenates - Exports,2014,"Metric tons, thousand",0.0,NaN,additives_and_oxygenates
3,Belgium,Additives and Oxygenates - Exports,2013,"Metric tons, thousand",0.0,NaN,additives_and_oxygenates
4,Belgium,Additives and Oxygenates - Exports,2012,"Metric tons, thousand",35.0,NaN,additives_and_oxygenates
...,...,...,...,...,...,...,...
89478,Viet Nam,Electricity - total wind production,2012,"Kilowatt-hours, million",92.0,1.0,wind_electricity
89479,Viet Nam,Electricity - total wind production,2011,"Kilowatt-hours, million",87.0,NaN,wind_electricity
89480,Viet Nam,Electricity - total wind production,2010,"Kilowatt-hours, million",50.0,NaN,wind_electricity
89481,Viet Nam,Electricity - total wind production,2009,"Kilowatt-hours, million",10.0,NaN,wind_electricity
89482,Viet Nam,Electricity - total wind production,2008,"Kilowatt-hours, million",1.0,NaN,wind_electricity

In [4]:
df_avg

NameError: name 'df_avg' is not defined

In [ ]:
df_reg = ols('quantity ~ year', data=df).fit()

df_reg.params

In [ ]:
explan_col = pd.DataFrame({'year' : np.arange(1990,2020)})
reg_table = explan_col.assign(
    estimated_total=df_reg.predict(explan_col)
)

In [ ]:
sns.relplot(x='year', y='estimated_total',
           data=reg_table,
           kind='line')

plt.show()